body {
  box-sizing: border-box;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root {
  background-color: black;
  color: rgb(117, 8, 8);
  width: 100vw;
  height: 100vh;
}

.choices {
  display: flex;
  height: 100%;
}

.choiceContainer {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
}

.cardImageRoot {
  overflow: hidden;
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 16px 0px;
}

.cardImage {
  z-index: 1000;
  object-fit: contain;
  overflow: hidden;
  width: auto;
  height: 100%;
  box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
  border: 3px double #000000;
}

.cardImage:hover {
  border: 3px double rgb(221, 221, 221);
  box-shadow: 7px 7px rgb(0, 0, 0, 0.5);
  cursor: pointer;
}

.cardImageBackground {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 110%;
  height: 110%;
  filter: brightness(80%) blur(2px);

}

.cardTitle {
  margin: 20px;
  padding: 10px;
  z-index: 2000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(221, 221, 221);
  box-shadow: 7px 7px rgba(0, 0, 0, 0.5);
  border: 3px double #000000;
}

.cardTitle p {
  font-size: 18px;
  margin: 10px;
  border-bottom: 3px double #000000;
}